.azul {
    color: blue;
}
.vermelho {
    color: red;
}
.verde {
    color: green;
}
.amarelo {
    color: yellow;
}
.marrom {
    color: brown;
}
.cinza {
    color: gray;
}
.laranja {
    color: orange;
}
.branco {
    color: white;
}
.preto {
    color: black;
}
.roxo {
    color: purple;
}